@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.EventGuestList {
  height: 100%;

  &-list {
    margin: 0 auto;
    width: 100%;
    overflow-y: auto;
  }

  &-filters {
    text-align: center;
    padding: $spacer*2;
    border-bottom: 1px solid $gray100;

    &-input {
      input {
        width: $spacer*30;
        font-size: 11px;
        text-transform: uppercase;
      }
    }

    &-summary {
      margin-top: $spacer;
      font-size: 11px;
      text-transform: uppercase;

      &-separator {
        font-size: 14px;
        color: $orange;
        font-weight: 600;
      }
    }
  }
}

.EventGuestListItem {
  padding: $spacer*2;
  border-bottom: 1px solid $gray100;
  background: $gray50;
  border-left: 4px solid $orange;
  border-right: 1px solid $gray100;
  transition: all .28s ease-out;
  display: table;
  width: 100%;

  &-confirmed {
    border-left: 4px solid $green;
    background: $white;

    .EventGuestListItem-name-first {
      color: $green;
    }
  }

  &-shadow {
    box-shadow: 0 2px 4px $black12;
    position: relative;
  }

  .Button {
    padding: 0;
    min-width: $spacer*5;
    font-size: 22px;
    text-transform: none;
  }

  .Button--success {
    padding-left: $spacer/2;
  }

  &-name {
    display: inline-block;
    vertical-align: middle;
    width: 50%;

    &-first {
      font-size: 20px;
      color: $orange;
      text-transform: uppercase;
    }
  }

  &-right {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 50%;

    &-badge.label {
      white-space: nowrap;
      overflow: auto;
      max-width: calc(100% - #{$spacer*6});
      vertical-align: middle;
    }
  }
}


@include media("<tablet") {
  .EventGuestListItem {
    border-right: 0;
  }
}
