@import '../../scss/colors';
@import '../../scss/variables';

.Input {
  margin: $spacer 0;

  label {
    font-size: 20px;
    display: block; text-transform: uppercase;

    ~ input[type="radio"] {
      margin-top: $spacer*2;
    }
  }

  input {
    font-size: 16px;
    padding: 0 $spacer*2;
    background-color: $gray50;
    border: 1px $gray100 solid;
    border-radius: 3px;
    color: $black54;
  }

  input[type="text"],
  input[type="email"] {
    width: calc(100% - #{$spacer*4});
    margin: $spacer*2 0;
  }

  input[type="radio"] {
    margin-right: $spacer;
  }
}
