@import '../../scss/variables';
@import '../../scss/colors';

.Landing {
  padding: 0;

  &-banner {
    background-color: $grey50;
    margin-bottom: $spacer*5;
    padding: $spacer*3 0 $spacer*6;
  }
}

