@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/colors';

.Landing {
  padding: $spacer*3 0;

  &-banner {
    background-image: url(#{$assets-base-uri}/core/site/bg-toakee.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: $spacer*3;
    padding: $topbar-height + $spacer*2 0 $spacer*6;
    white-space: nowrap;
    @include box-shadow(inset 0 0 16px $black26);
  }

  &-lists {
    padding-left: $spacer;
  }
}

@include media("<tablet") {
  .Landing {
    padding: 0;

    &-banner {
      padding: 0;
      margin-top: $topbar-height;
      white-space: normal;
    }
  }
}

