{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true,
    "arrowFunctions":true,
    "destructuring": true
  },
  "globals": {
    "document": true,
    "localStorage": true,
    "window": true,
    "FB": true
  },
  "rules": {
    "import/no-named-as-default": 0,
    "import/no-unresolved": [2, { "ignore": ["^[~]"] }],
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, { "argsIgnorePattern": "^_$", "varsIgnorePattern": "^_$" }],
    "class-methods-use-this": 0,
  },
  "settings": {
    "import/resolver": {
      "babel-root-import": {
        "extensions": ['.js', '.jsx']
      }
    }
  }
}

