<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Toakee</title>
    <meta name="description" content="Toakee: O seu guia de eventos. ">
    <meta name="author" content="Toakee team">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="Material Console">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    {% if ogMetaTags %}
      <meta id="og-title" property="og:title" content="{{ogMetaTags.title}}" />
      <meta id="og-description" property="og:description" content="{{ogMetaTags.description}}" />
      <meta id="og-image" property="og:image" content="{{ogMetaTags.image}}" />
      <meta id="og-url" property="og:url" content="{{ogMetaTags.url}}" />
      <meta id="og-fb" property="fb:app_id" content="{{ogMetaTags.app_id}}" />
    {% endif %}
    <link rel="shortcut icon" href="/imgs/favicon.png" />
    <link href="/css/loader.css" rel="stylesheet" />
    <link href="/{{assets.main.css}}" rel="stylesheet">
  </head>
  <body>
    {% if apolloContent %}
      {{apolloContent | safe}}
    {% else %}
      <div id="app"><div class="Loader"></div></div>
    {% endif %}
    <script>window.__APOLLO_STATE__ = {{apolloState | safe}};</script>
    <script type="text/javascript" src="/{{assets.vendor.js}}" charset="utf-8" async></script>
    <script type="text/javascript" src="/{{assets.main.js}}" charset="utf-8" async></script>
    <script src='https://www.google.com/recaptcha/api.js' async></script>
  </body>
</html>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/react-datetime.css" rel="stylesheet">
