<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Toakee</title>
    <meta name="description" content="Toakee Web App">
    <meta name="author" content="Degrish team">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="Material Console">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
    <link href="/{{assets.main.css}}" rel="stylesheet" />

    <style>
      .main {
        padding: 104px 24px;
        max-width: 640px;
      }
    </style>
  </head>
  <body>
    <header class="ui borderless top fixed TopBar menu">
      <div class="item">
        <a href="/">
          <img
            class="Logo"
            alt="toakee logo"
            src="http://res.cloudinary.com/toakeeassets/image/upload/s--Ug65JuU_--/v1494199755/core/site/logo.png"
          />
        </a>
      </div>
      <div class="right menu">
        <div class="item">
          <div class="ui buttons">
            <a class="ui basic button" href="/login">Entrar</a>
            <a class="ui orange button" href="/cadastrar">Cadastrar</a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
     <h2>TERMOS DE USO PARA TOAKEE</h2>
     <p>
       Leia com atenção este termo de uso. Se você não concordar com qualquer condição do documento,
       por favor, não use o serviço do Toakee, nem complete seu cadastro.
       Ao utilizar ou se cadastrar você reconhece a integridade deste termo de uso e concorda que
       se vinculou integralmente às suas condições de forma livre e espontânea.
     </p>
     <h3>1 - Privacidade:</h3>
     <p>
       1.1 - O Toakee não armazena a foto de perfil do usuário.
     </p>
     <p>
       1.2 - O Toakee não armazena nenhuma senha do Instagram, Facebook ou nenhuma rede social do usuário.
     </p>
     <p>
       1.3 - O Toakee armazena nome, id entre outros dados do utilizador.
     </p>
     <p>
       1.4 - O Toakee usa a API do Instagram como forma de conexão, além de uma conexão direta e segura com o servidor.
     </p>
     <p>
       1.5 - O Toakee não tem permissão de excluir a conta do Instagram, não somos responsáveis por qualquer problema em sua conta.
     </p>
     <h3>2 - Acesso ao Instagram:</h3>
     <p>
       2.1 - Você está ciente que o Toakee não infringe nenhum termo ou condição imposta pela rede social Instagram.
     </p>
     <p>
        2.2 - Ao criar a conta você concede ao Toakee a autorização para acessar sua conta do Instagram à
        qualquer momento para visualizar comentários em fotos que o seu perfil tem acesso.
     </p>
        2.3 - O Toakee apenas usa o acesso permitido ao seu perfil em comentários e fotos de terceiros.
     <p>
        2.4 - O Toakee não publica, posta ou faz nenhuma ação em seu nome, exceto a de visualizar publicações e seus respectivos comentários.
     </p>
     <h3>3 - Atenção:</h3>
     <p>
       3.1 - É recomendado que, tenha acesso ao email cadastrado no Instagram.
     </p>
     <p>
       3.2 - É recomendado que, tenha realizado a sincronização da sua conta do Facebook com o Instagram.
     </p>
     <p>
       3.3 - Caso não compreenda ou não aceite os termos: não utilize e não crie uma conta no serviço do Toakee.
     </p>
     <p>
       3.4 - O Toakee pode alterar os termos e condições a qualquer momento e você será notificado sobre na próxima vez que fizer o login no Toakee.
     </p>
    </main>
  </body>
</html>
