@import '../../scss/variables';

.FriendList {
  padding: $spacer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .26);
}

.FriendListItem {
  display: inline-block;
  margin: $spacer;

  &-name {
    text-align: center;
    margin-top: $spacer/2;
  }
}
