@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';

.Unlogged {
  .main {
    padding-top: $topbar-height;
    height: 100%;
  }
}

@include media("<tablet") {
  .Unlogged .main {
    padding-top: $spacer*9;
  }
}
