@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.EventPage {
  display: table;
  width: 100%;
  padding: 0 0 $spacer*4;

  &-main {
    display: block;
    width: 100%;
    margin: 0;

    &-flyer {
      height: $spacer*50;
      overflow: hidden;

      @keyframes bgAnimation{
        0% {transform: scale(1)}
        30% {transform: scale(1.15)}
        100% {transform: scale(1)}
      }

      &-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        animation: bgAnimation 20s linear infinite;
      }

      &-actions {
        height: $spacer*50;
        text-align: center;
        position: absolute;
        z-index: 11;

        a {
          color: $white !important;
          background-color: $deepOrange580 !important;
          top: $spacer*16 !important;
          padding: $spacer !important;
          height: $spacer*7 !important;
          display: none !important;

          span {
            font-size: $spacer*3 !important;
          }
        }
      }

      &-overlay {
        position: absolute;
        bottom: 0;
        background-color: $black54;
        min-height: $spacer*11;
        padding: $spacer*3 $spacer*2;
        display: table;

        &-title {
          display: table-cell;
          padding-right: $spacer;

          h1 {
            color: $white;
            font-size: $spacer*4;
          }
        }

        &-actions {
          float: right;
          margin-right: $spacer*3;
        }
      }
    }

    &-gallery {
      margin: $spacer 0 $spacer 0;
      display: none;
      position: relative;
      border-left: 4px solid $deepPurple500;

      > div {
        overflow: hidden;
        margin: 0 $spacer*2 0 0;
        padding-bottom: $spacer*2 !important;
      }

      &-title {
        + div {
          padding: 0 $spacer*2 !important;
        }

        > div + div {
          vertical-align: initial !important;

          span {
            font-size: 18px !important;
          }
        }
      }

      &-preview {
        display: inline-block;
        flex-wrap: wrap;
        justify-content: space-around;
        height: $spacer*15;

        > div {
          flex-wrap: nowrap !important;
          overflow-x: hidden;
          overflow-y: hidden;
          height: 100%;
          width: 100%;
          box-shadow: 0 0 4px;

          > div {
            height: 100% !important;
            padding: 0 !important;

            img {
              height: 100% !important;
            }
          }
        }
      }

      &-actions {
        text-align: right;
        margin-bottom: $spacer;
      }

      &-photos {
        display: none;
        height: $spacer*50;
        overflow: overlay;

        > div {
          margin: auto !important;
          max-width: $spacer*50;

          > div {
            max-width: $spacer*25;
            max-height: $spacer*17;

            img {
              height: 100% !important;
              cursor: pointer;
            }
          }
        }
      }
    }

    &-details {
      margin: $spacer 0 $spacer 0;
      width: 100%;
      border-left: 4px solid $deepOrange500;

      * {
        line-height: $spacer*3;
      }

      > div {
        padding-bottom: 0 !important;
      }

      &-title {
        span {
          font-size: 18px !important;
        }

        + div {
          padding: 0 $spacer $spacer !important;
        }

        > div + div {
          vertical-align: initial !important;
        }
      }

      &-info {
        padding: 0 !important;

        > div > div {
          padding: $spacer $spacer*2 $spacer*2 $spacer*9 !important;
        }

        &-button {
          width: 100%;
          text-align: right;
        }
      }
    }

    &-prices {
      margin: 0 0 $spacer 0;
      width: 100%;
      min-width: $spacer*25;
      border-left: 4px solid $lightBlue500;

      * {
        line-height: $spacer*3;
      }

      > div {
        padding-bottom: 0 !important;
      }

      &-title {
        span {
          font-size: 18px !important;
        }

        + div {
          padding: 0 $spacer $spacer !important;
        }

        > div + div {
          vertical-align: initial !important;
        }
      }

      &-info {
        > div > div {
          padding: 0 $spacer*2 $spacer !important;
        }
      }
    }

    &-description {
      margin: 0 0 $spacer 0;
      width: 100%;
      display: inline-block;
      border-left: 4px solid $amber500;

      p {
        font-size: 16px !important;
      }

      > div {
        padding-bottom: 0 !important;
      }


      &-title {
        span {
          font-size: 18px !important;
        }

        + div {
          padding: 0 $spacer $spacer*3 !important;
        }

        > div + div {
          vertical-align: initial !important;
        }
      }

      &-info {
        padding: 0 $spacer*2;
        font-size: 16px;
        text-align: left;
      }
    }

    &-map {
      border-left: 4px solid $green500;

      &-title > div + div {
        vertical-align: initial !important;

        span {
          font-size: 18px !important;
        }
      }
    }
  }

  &--viewGallery {
    .EventPage-main {
      &-flyer-actions{
        &-button {
          display: inline-block !important;
        }
      }

      &-gallery {
        display: grid;
      }
    }
  }

  &--galleryIsVisible {
    .EventPage-main-gallery-photos {
      display: block;
    }
  }

  &-related {
    display: block;
    white-space: nowrap;
    min-width: $spacer*50;
    margin: $spacer;
  }
}

@include media(">tablet") {
  .EventPage {
    padding: 0 $spacer*4 $spacer*4;

    &-main {
      margin: $spacer;
      position: relative;

      &-details {
        margin: $spacer $spacer $spacer 0;
        min-width: $spacer*40;
        float: left;
        width: 68%;
      }

      &-prices {
        margin: $spacer 0 $spacer $spacer;
        width: 28%;
        float: right;
        position: absolute;
        right: 0;

        &-info {
          min-height: $spacer*22;
        }
      }

      &-description {
        display: table;
        padding-right: 28%;
      }

      &-gallery {
        &-photos {
          > div {
            max-width: $spacer*100;
          }
        }
      }
    }

    &-related {
      display: table-cell;
    }
  }
}
