@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.SideNav {
  > div {
    background-color: $gray50 !important;
    width: 0 !important;
    margin-top: $topbar-height;
    transform: none !important;
    transition: width 450ms $bezier-curve 0ms !important;
    z-index: $sidenav-zindex !important;
    box-shadow: 0 1px 3px $black12, 0 1px 2px $black26;

    > div {
      width: 100% !important;
    }
  }

  &-subheader {
    visibility: hidden;
  }

  &-divider {
    width: $spacer*4;
    margin: $spacer $spacer*2 !important;
  }

  &--open {
    > div {
      width: $spacer*32 !important;
    }

    .SideNav {
      &-divider {
        width: $spacer*25;
        margin: $spacer $spacer*3 !important;
      }

      &-subheader {
        visibility: visible;
      }
    }
  }
}

@include media(">tablet") {
  .SideNav {
    > div {
      width: $spacer*8 !important;
    }

    &--open {
      > div {
        width: $spacer*32 !important;
      }
    }
  }
}
