@import '../../scss/variables';
@import '../../scss/colors';

.NewEventPage {
  margin-top: $topbar-height;

  &-basics {
    background-color: $orange;

    &-content {
      margin: $spacer*4 0;

      .header {
        text-align: center;
      }

      .card {
        margin: auto;
        max-width: 80%;
        width: $spacer*52;
      }

      input[list="time"] {
        padding-right: 0 !important;
      }

      .file {
        display: none;
      }

      .content {
        padding: $spacer*2;
        border-bottom: 1px solid $black06;
      }

      &-flyer {
        border: 8px dashed $black26;
        text-align: center;
        padding: 15%;
        position: relative;
        max-height: $spacer*48;
        width: 100%;
        cursor: pointer;

        .field {
          height: 0.1px;
          margin: 0 !important;
        }

        i.icon.grey {
          color: $black54 !important;
        }

        .ui.image {
          opacity: .6;
          max-height: -webkit-fill-available;
          position: absolute;
          top: 0;
          left: 0;
          display: block !important;
          z-index: 0;
        }
      }

      &-date {
        .fields {
          align-items: flex-end;
        }
      }
    }
  }

  &-details {
    padding: $spacer*9 $spacer*4;

    &-description {
      select {
        padding: 3px !important;
      }

      .DraftEditor-root {
        font-family: sans-serif;
      }
    }

    &-categories,
    &-prices,
    &-confirmation {
      margin-top: $spacer*4;
    }

    &-categories {
      .button {
        margin: 0 $spacer $spacer 0;
      }
    }

    &-prices {
      .rdtPicker {
        right: 0;
      }
    }

    &-confirmation {
      text-align: center;

      .button {
        width: $spacer*40;
      }
    }
  }
}
