@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.EventFeed {
  &-banner {
    background-color: $grey50;
    margin-bottom: $spacer*2;
    padding: 0;
  }

  &-lists {
    padding: $spacer*3 0;
  }
}

@include media(">tablet") {
  .EventFeed {
    &-banner {
      padding: $spacer*3 0 $spacer*6;
      margin-bottom: $spacer*5;
    }

    &-lists {
      padding: $spacer*3;
    }
  }
}
