@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';

.EventGuestListEdit {
  &-lists {
    padding: $spacer*3;
  }
}

.EventGuestListEditItem {
  .ui.form textarea {
    width: calc(100% - #{$spacer*6});
  }

  &-invitations {
    margin-top: $spacer;
    max-height: $spacer*10;
    overflow: auto;

    &-item {
      cursor: default;
      margin: 0 $spacer $spacer 0;

      &:hover {
        background-color: $orange100;
      }

      &-remove {
        float: right;
        cursor: pointer;
      }
    }
  }

  &-input {
    &.addNames {
      .Button {
        padding: 0 $spacer;
        min-width: initial;
        vertical-align: top;
        margin-left: 8px;
      }
    }

    &-editingButtons {
      margin-left: $spacer/2;
      cursor: pointer;
      font-size: 14px;
    }

    a {
      text-decoration: none;
    }
  }
}

.EventGuestListEditNewItem {
  .EventGuestListEditNewItem-input {
    @include placeholder {
      color: $black26;
    }

    label {
      font-size: 12px;
      margin-bottom: $spacer/2;
    }
    input {
      font-size: 12px;
      height: auto;
    }
    select {
      font-size: 14px;
    }
  }

}
