@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';

.BannerImage {  
  height: $spacer*30 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Slider {
  margin-left: 24%;
  margin-right: 24%;

  .slick-list {
    box-shadow: 0 0 $spacer*2 grey;
  }
  .button {
    top: 45%;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 0 $spacer*2 black;
    display: block !important;

    &.slick-prev {
      left: $spacer*2;
    }
    &.slick-next {
      right: $spacer*2;
    }
  }
  
  .custom-dots {
    position: absolute;
    bottom: $spacer*0;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  
    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 10px;
      padding: 0;
      cursor: pointer;

      &.slick-active {
        button {
          background-color: #4d4d4d;
          height: 25px;                                                                               
          width: 25px;
          -webkit-transition: width .3s;
          transition: width .3s;
        }
      }

      button {
        border: 0;
        border-radius: 50px;
        background-color: #f2f2f2;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 5px;
        cursor: pointer;
        box-shadow: 0 0 5px black;
        opacity: .75;
        &:hover, &:focus {
          outline: none;
          opacity: 1;
        }
        -webkit-transition: width .3s;
        transition: width .3s;
      }
    }
  }
}

@include media("<tablet") {
  .BannerImage {
    height: $spacer*25;
    width: 100%;
  }

  .Slider{
    margin-left: 0;
    margin-right: 0;
    
    .button {
      display: none !important;
    }
  }
  
  .custom-dots {
    display: none !important;
  }
}
