@import '../../scss/variables';

.SignUp {
  &-form {
    &-firstName,
    &-lastName {
      display: inline-block;
      margin-bottom: 0;
      width: calc(50% - #{$spacer/2});
    }

    &-lastName {
      float: right;
    }

    &-submit.mdl-button {
      margin-top: $spacer;
      height: $spacer*6;
    }

    &-back.mdl-button {
      margin: $spacer 0 $spacer*-1;
    }
  }
}
