@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/colors';

.EventList {
  padding: $spacer*3 0 0;

  &-title {
    margin: 0 $spacer*2 $spacer*2;
    padding-bottom: $spacer;
    color: $black87;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid $gray300;
  }

  &-list {
    display: flex;
    overflow-x: hidden;
    margin-left: $spacer*-1;

    &-end {
      flex: 0 0 1%;
    }

    .EventListItem {
      flex: 0 0 100%;
      margin: $spacer 0 $spacer $spacer*3;
      max-width: $spacer*25;

      &-link {
        text-decoration: none;
      }

      &-background {
        @include drag(none);
        width: 100%;
        height: $spacer*25;
        object-fit: cover;
      }

      &-content {
        padding: $spacer*2;

        &-title {
          display: block;
          height: $spacer*6;
          padding: 0;
          overflow: hidden;

          &-text {
            font-size: 16px;
            font-weight: 500;
          }
        }

        &-truncate {
          width: 100%;
          height: $spacer;
          position: absolute;
          @include gradient-background(to bottom, $white30, $white);
          margin: $spacer*-1 $spacer*-2;
        }

        &-time {
          font-size: 14px;
        }

        &-body,
        &-time {
          margin-top: $spacer;
          padding: 0;
        }
      }
    }

    .EventListArrow {
      display: flex;
      position: absolute;
      padding: $spacer;
      background-color: $orange87;
      font-size: 60px;
      z-index: 2;
      color: $white;
      margin-top: $spacer*12;
      height: $spacer*10;
      align-items: center;
      border-radius: 3px;
      @include box-shadow(0 0 $spacer $black26);
      cursor: pointer;
      border: 0;

      &:hover {
        background-color: $orange;
      }

      &--right {
        right: $spacer;
      }

      &--left {
        left: $spacer;
      }
    }
  }
}

@include media("<tablet") {
  .EventList {
    &-title {
      margin-bottom: 0;
      font-size: 18px;
      border: 0;
      padding: 0;
    }

    &-list {
      overflow-x: auto;

      .EventListItem {
        width: 100%;

        &-content {
          &-title {
            height: $spacer*5;

            &-text {
              font-size: 13px;
            }
          }

          &-time {
            font-size: 12px;
          }
        }
      }

      .EventListArrow {
        display: none;
      }
    }
  }
}
