@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/colors';

$event-list-height: $spacer*39;

.EventList {
  margin-bottom: $spacer*3;
  &-title {
    margin: 0 $spacer*2 $spacer*2;
    padding-bottom: $spacer;
    color: $black87;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid $gray300;
  }

  &-list {
    overflow-x: hidden;
    margin-left: $spacer*-1;
    white-space: nowrap;
    min-height: $event-list-height;

    .EventListArrow {
      position: absolute;
      z-index: 2;
      margin-top: $spacer*12;
      @include box-shadow(0 0 $spacer $black26);
      border-radius: 4px;

      &.icon.bordered {
        width: $spacer*8;
      }

      &--right {
        right: $spacer;

        &.EventListArrow--hidden {
          right: 0;
        }
      }

      &--left {
        margin-left: $spacer;

        &.EventListArrow--hidden {
          margin-left: 0;
        }
      }

      &--hidden.icon.link {
        opacity: 0;
        pointer-events: none;

        &:hover {
          opacity: 0 !important;
        }
      }
    }

    &-sensor {
      margin-left: $spacer*3;
      display: inline-block;
      height: 100%;
      width: $spacer*3;
    }
  }
}

@include media("<tablet") {
  .EventList {
    margin-bottom: $spacer*2;

    &-title {
      margin-bottom: 0;
      font-size: 14px;
      border: 0;
      padding: 0;
    }

    &-list {
      overflow-x: auto;

      .EventListArrow {
        display: none;
      }
    }
  }
}
