@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/colors';

$event-list-height: $spacer*29;

.EventList {
  margin-bottom: $spacer*2;

  &-title {
    margin-bottom: 0;
    font-size: 14px;
    border: 0;
    padding: 0;
    color: $black87;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-list {
    overflow-x: auto;
    margin-left: $spacer*-1;
    white-space: nowrap;
    min-height: $event-list-height;
    padding-right: $spacer*2;

    .EventListArrow {
      position: absolute;
      display: none !important;
      margin-top: $spacer*10;
      z-index: 11;

      svg {
        fill: $black54 !important;
      }

      &--right {
        right: $spacer;

        &.EventListArrow--hidden {
          right: 0;
        }
      }

      &--left {
        margin-left: $spacer;

        &.EventListArrow--hidden {
          margin-left: 0;
        }
      }

      &--top {

        &.EventListArrow--hidden {
          top: 0;
        }
      }

      &--bottom {

        &.EventListArrow--hidden {
          bottom: 0;
        }
      }

      &--hidden {
        opacity: 0;
        pointer-events: none;

        &:hover {
          opacity: 0 !important;
        }
      }
    }

    &-sensor {
      margin: 0 $spacer*3;
      display: inline-block;
      height: 1px;
      width: $spacer*3;
    }
  }

  &--vertical {
    overflow-y: auto;
    top: $spacer*9;
    bottom: 0;
    margin-bottom: $spacer;

    .EventListArrow {
    }

    .EventList {
      &-title {
        display: none;
      }

      &-list {
        display: inline-flex;
      }
    }
  }
}

@include media(">tablet") {
  .EventList {
    margin-bottom: $spacer*3;

    &-title {
      margin: 0 $spacer*2 $spacer*2;
      padding-bottom: $spacer;
      font-size: 20px;
      border-bottom: 1px solid $gray300;
    }

    &-list {
      overflow: hidden;

      .EventListArrow {
        display: block !important;
      }
    }

    &--vertical {
      position: absolute;
      margin-bottom: $spacer;

      .EventList-list {
        display: block;

        .EventListArrow {
          display: none;
        }
      }
    }
  }
}
