@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/mixins';

.AuthWrapper {
  min-height: calc(100vh - #{$topbar-height});
  padding: $spacer*10 $spacer*2 $spacer*3;
  background-image: url(#{$assets-base-uri}/core/site/login-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-content.card {
    margin: 0 auto;
  }

  &-link {
    display: block;
    text-align: center;
    color: $black54;
    text-decoration: none;

    &:hover {
      color: $black87;
      text-decoration: underline;
    }
  }
}

@include media("<tablet") {
  .AuthWrapper {
    padding-top: $spacer*3;
  }
}
