@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/mixins';

.AuthWrapper {
  min-height: calc(100vh - #{$topbar-height});
  background-color: $black06;
  padding: $spacer*10 $spacer*2 $spacer*3;

  &-content.card {
    margin: 0 auto;
  }

  .SignUp {
    &-back {
      display: block;
      color: $black26;
      text-decoration: none;
      text-align: center;

      &:hover {
        color: $black54;
        text-decoration: underline;
      }
    }
  }

  .Login {
    &-form {
      &-signUp,
      &-forgotPassword {
        display: inline-block;
        font-size: 12px;
        a {
          color: $black26;
          text-decoration: none;

          &:hover {
            color: $black54;
            text-decoration: underline;
          }
        }
      }

      &-signUp {
        float: left;
      }

      &-forgotPassword {
        float: right;
      }
    }
  }
}

@include media("<tablet") {
  .AuthWrapper {
    padding-top: $spacer*3;
  }
}
