@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/colors';

.Header {
  color: $white;
  background-color: $orange;
  padding: $spacer*3 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  @include box-shadow(0 0 $spacer*2 $black26);
}

@include media("<tablet") {
  .Header {
    font-size: 16px;
  }
}
