.Header {
  background-color: gray;
  padding: 30px 30px 30px 30px;
  margin-top: 64px;
  color: white;
}

.Span {
  flex: 1;
  overflowY: 'auto';
}

.Brands {
  flex: 1;
  overflowY: 'auto';
  padding-bottom: 5px;
}
.Icon {
  padding-right: 10px;
}
