@import '../../scss/colors';
@import '../../scss/variables';

.TextArea {
  label {
    font-size: 20px;
    display: block;
    text-transform: uppercase;
  }

  label + textarea {
    margin: $spacer*2 0;
  }

  textarea {
    padding: $spacer $spacer*2;
    border: 1px $gray100 solid;
    border-radius: 3px;
    color: $black54;
  }
}
