@import '../../scss/variables';
@import '../../scss/colors';
@import '../../scss/mixins';
@import 'node_modules/include-media/dist/_include-media.scss';

.EventForm {
  background-color: $gray50;
  padding: $spacer*2 0;

  &-header.ui.header {
    padding: $spacer*2 0;
  }

  &-body {
    width: calc(100% + #{$spacer});
    margin-left: $spacer/-2;
    max-width: $spacer*80;
  }

  &-submit {
    text-align: right;
    max-width: $spacer*80;
    margin: $spacer*2 auto;
    padding-right: $spacer*2;
  }

  &Section {
    margin-bottom: $spacer*2;

    &-title {
      color: $black54;
      margin-left: $spacer*2;
      font-size: 14px;
    }

    &-content {
      padding: 0 $spacer*2 $spacer*2;
    }
  }

  &Main {
    position: relative;
    padding-top: $spacer*2;

    &-preview {
      text-align: center;
    }

    &-preview-img,
    &-dropzone {
      margin: 0 auto;
      height: $flyer-height-mobile;
      width: $flyer-width-mobile;
      object-fit: cover;
    }

    &-dropzone {
      color: $black26;
      text-align: center;
      border: 2px dashed;
      padding: $spacer*3;
      position: relative;

      &-icon {
        font-size: 72px !important;
        color: $black12 !important;
      }

      &--error {
        color: $red100;
        margin-bottom: $spacer;

        .EventFormMain-dropzone-icon {
          color: $red100 !important;
        }
      }

      .icon-upload {
        color: $black12;
      }
    }

    &-preview + &-dropzone {
      position: absolute;
      top: $spacer*2;
      left: 50%;
      opacity: 0;
      @include transform(translateX(-50%));
    }
  }

  &Dates {
    &-picker {
      display: inline-block;
      width: calc(50% - #{$spacer/2});
    }

    input {
      width: 100% !important;
    }
  }

  &Place {
    .Map {
      padding-top: $spacer*2;
    }
  }

  &Prices {
    > div {
      width: calc(50% - #{$spacer*3}) !important;
    }

    &-remove {
      color: $black26 !important;

      &:hover {
        color: $red !important;
      }
    }
  }

  &Description {
    &-categories {
      display: flex;
      flex-wrap: wrap;

      &-chip {
        margin: 0 $spacer $spacer 0 !important;
      }
    }
  }
}

@include media(">=tablet") {
  .EventForm {
    &-body {
      margin: 0 auto;
      padding: $spacer*2;
    }

    &Section {
      &-title {
        font-size: 18px;
        margin-left: 0;
      }

      &-content {
        border-left: 4px solid $orange;
      }
    }
  }
}
