@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.Footer {
  background-image: linear-gradient(to top, #9933cc 30%, rgba(241, 151, 40, 0.7) 90%, #{$transparent} 100%);
  color: white;
  padding: 36px 24px;
  text-align: center;
  margin: auto;

  .placeholder {
    float: right;
    margin: $spacer*-2 auto 0;
    font-size: 12px;
    color: $gray500;
  }

  .Button {
    background-color: $transparent;
    color: $white;
    border: none;

    &:not(.submit) {
      margin: $spacer auto !important;
    }

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;

      &:before, &:after {
        position: absolute;
        opacity: 0;
        top: 0;
        transition: 0.5s;
      }

      &:before {
        left: $spacer*-4;
      }

      &:after {
        right: $spacer*-4;
      }
    }

    &:hover {
      color: $white;
      background-color: $transparent;

      span {
        &:before {
          opacity: 1;
          left: $spacer*-3;
        }
        &:after {
          opacity: 1;
          right: $spacer*-3;
        }
      }
    }

    &:focus {
      color: $white;
      background-color: $transparent;
    }

    &.about {
      span {
        &:before, &:after {
          content: '\2665';
        }
      }
    }

    &.terms {
      span {
        &:before {
          content: '\00ab'
        }

        &:after {
          content: '\00bb';
        }
      }
    }

    &.signup {
      span {
        &:after {
          content: 'o/';
        }
      }
    }

  }

  .Image {
    transition: .5s ease;

    &:hover {
      opacity: 1;
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }
  }

}

@include media("<tablet"){
  .Footer{
    &-col {
      width: 100% !important;
    }

    .Divider {
      display: none;
    }
  }
}
