@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.Footer {
  background-color: $grey50;
  color: $grey600;

  .column {
    margin: 0 $spacer*2;
    min-width: $spacer*20;
  }

  &-content {
    margin: 0 auto;
    display: table;
    padding: $spacer*5 $spacer;

    &-row {
      display: table;
      margin: 0 auto;

      &-services-signup {
        cursor: pointer;
      }

      p {
        padding: 0 $spacer;
        margin-bottom: 0;
        font-size: 18px;
        line-height: $spacer*5;
        color: $grey800;
      }

      ul {
        padding: 0 $spacer;
        margin-top: $spacer;
        font-size: 18px;
        line-height: $spacer*5;
        list-style-type: none;
      }

      &-social {
        svg {
          width: $spacer*5;
          height: $spacer*5;
          margin-right: $spacer;

          path {
            fill: $blue600;
          }
        }
      }
    }

    &-copyright {
      margin-top: $spacer*2;
      padding: $spacer $spacer*3;
    }
  }

  &--compressed {
    padding-left: $spacer*32;
  }
}

@include media(">tablet") {
  .Footer-content-row {
    display: flex;
  }
}
