@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.SideNav {
  min-width: $sidenav-width;
  float: left;
  height: 100vh;
  margin: 0 !important;
  position: sticky;
  top: $topbar-height;
  z-index: 10;
}

@include media(">tablet") {
  .SideNav {
  }
}
