@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';

.Logged {
  .main {
    padding-top: $spacer*10;
    height: 100%;
  }
}

@include media("<tablet") {
  .Logged .main {
    padding-top: $spacer*9;
  }
}
