@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';

.Logged {
  .main {
    padding: 0 0 $spacer*2;
    height: 100%;
    width: 100%;
  }
}

@include media("<tablet") {
  .Logged {
    .main {
      padding: $topbar-height 0 $spacer*2;
    }
  }
}
