@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.TopBar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: $spacer $spacer*3 !important;
  height: $topbar-height !important;
  z-index: $topbar-zindex;

  &-search {
    margin: 0 $spacer*2;

    > div {
      width: 100%;
      padding: 0 $spacer;

      > div {
        margin: 0 $spacer !important;

        > div > div > div {
          height: 100%;
          line-height: $spacer*6;
          bottom: 0 !important;
        }
      }
    }
  }

  &-menu {
    margin-right: $spacer*-3 !important;

    &-button {
      margin: 0 $spacer !important;
    }
  }
}

@include media(">tablet") {
  .TopBar-search {
    width: $spacer*50;
  }
}
