@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.TopBar {
  .ui.menu {
    height: $topbar-height;
    background: $white;

    .item.logo {
      min-width: $spacer*8;
    }

    .item.nav {
      display: none;
	    margin: $spacer !important;
    }

    .menu .item {
      width: 100%;
    }

    .search {
      input:focus {
        border-color: $orange;
      }

      .input {
        width: 100%;
      }
    }
  }
}

@include media(">tablet") {
  .TopBar {
    .ui.menu {

      .item .logo {
        min-width: $spacer*28;
      }

      .item.nav {
	      display: block;
      }

      .search {
        display: block;

        input {
          color: $black54;
          font-size: 18px;
          padding: $spacer $spacer*2;
        }
      }

      .button.login {
        background: $white !important;
      }
    }
  }

  .TopBar {
    &--transparent .ui.menu {
      box-shadow: none;
      border: 0;
      background: $transparent;
      box-shadow: none;
      border: 0;

      .item.nav {
	      color: $white;
      }

      .button.TopBar-login  {
        &:not(:hover) {
          background: $white96 !important;
        }

        &:hover {
          background: $white !important;
        }
      }

      .search {
        input {
          border-color: $white;
          color: $white;
          background: $black26;

          &:focus {
            border-color: $white;
          }
        }

        i {
          color: $white;
        }
      }

      .Logo {
        content: url(#{$assets-base-uri}/core/site/logo-white.png);
      }
    }
  }
}
