@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/colors';

.EventCardPlaceholder,
.EventCard {
  margin: $spacer 0 $spacer $spacer*3;
  max-width: $spacer*30;
  display: inline-block;
  white-space: nowrap;

  &:hover .card {
    box-shadow: 0 0 0 1px #D4D4D5, 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15), 0 2px 0 0 #F2711C;
  }

  .header,
  .meta {
    overflow: hidden;
  }

  &-link {
    text-decoration: none;
  }

  .card &-background,
  .card &-background.image img {
    @include drag(none);
    width: 100%;
    height: $spacer*25;
    object-fit: cover;
  }

  .card .image img {
    height: 100% !important;
  }

  &-details {
    padding: 0 !important;
    overflow: hidden;

    &-calendar {
      color: $black54;
      text-align: center;
      font-weight: bold;
      padding: 0 $spacer;
      border-right: 1px solid rgba(0,0,0,.05);
      display: inline-block;
      vertical-align: middle;

      &-month {
        font-size: 12px;
        text-transform: uppercase;
      }

      &-day {
        font-weight: 300;
        font-size: 26px;
        padding: $spacer 0;
      }
    }

    &-timeAndPlace {
      width: calc(100% - #{$spacer*7});
      padding: 0 $spacer;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
    }
  }
}

.EventCardPlaceholder {
  position: relative;
  z-index: 0;

  .ui.card {
    margin: 0;

    * {
      color: transparent !important;
    }
  }
}

@include media("<tablet") {
  .EventCardPlaceholder,
  .EventCard {
    width: 100%;

    &-background,
    &-background.image img {
      height: $spacer*16;
    }

    &-main {
      padding: $spacer !important;
    }

    &-content {
      &-title {
        height: $spacer*5;

        &-text {
          font-size: 13px;
        }
      }

      &-time {
        font-size: 12px;
      }
    }
  }
}
