@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/mixins';
@import '../../scss/variables';
@import '../../scss/colors';

.EventCard {
  margin: $spacer 0 $spacer $spacer*3;
  width: $spacer*30;
  min-height: $spacer*28;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;

  > div {
    height: $spacer*28;
  }

  &:hover &-flyer-background {
    transform: scale(1.2);
  }

  &-flyer{
    height: $spacer*15;
    overflow: hidden;

    &-background {
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all .5s;
    }

    &-ribbon {
      position: absolute;
      height: 100%;
      width: 100%;

      span {
        top: $spacer;
        position: relative;
        padding: $spacer/2;
        background-color: $deepOrange500;
        color: $white;
        border-radius: 0 2px 2px 0;
        font-size: 16px;
      }
    }
  }


  &-title {
    padding: $spacer !important;
    margin-right: $spacer;
    overflow: hidden;

    > div {
      padding-right: 0 !important;

      span {
        font-size: 14px;
        font-weight: 600;
        vertical-align: bottom;
        max-height: $spacer*4;
      }
    }
  }

  &-details {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 0 $spacer !important;
    overflow: hidden;

    &-calendar {
      color: $black54;
      text-align: center;
      font-weight: bold;
      padding: 0 $spacer;
      border-right: 1px solid rgba(0,0,0,.05);
      display: inline-block;
      vertical-align: middle;

      &-month {
        font-size: 10px;
        text-transform: uppercase;
      }

      &-day {
        font-weight: 300;
        font-size: 20px;
        padding-bottom: $spacer/2;
      }
    }

    &-timeAndPlace {
      color: $black54;
      font-size: 12px;
      width: calc(100% - #{$spacer*7});
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;

      > div {
        position: relative;

        svg {
          height: 18px !important;
        }

        span {
          position: absolute;
          transform: translateY(16%);
          padding-left: $spacer;
        }
      }
    }
  }
}

.EventCardPlaceholder {
  margin: $spacer 0 $spacer $spacer*3;
  width: $spacer*30;
  min-height: $spacer*28;
  display: inline-block;

  > div {
    height: $spacer*28;

    > div {
      height: 100%;
      text-align: center;
      position: relative;
      top: $spacer*5;
    }
  }

  &-progress {
    > div {
      display: inline-grid !important;
    }
  }
}

@include media("<tablet") {
}
