@import '../../scss/colors';
@import '../../scss/variables';

.Login {
  &-social {
    margin: $spacer*2 0;
  }

  &-form {
    margin-top: $spacer*2;

    &-signUp,
    &-forgotPassword {
      display: inline-block;
      font-size: 12px;
      a {
        color: $black26;
        text-decoration: none;

        &:hover {
          color: $black54;
          text-decoration: underline;
        }
      }
    }

    &-signUp {
      float: left;
    }

    &-forgotPassword {
      float: right;
    }

    &-submit.mdl-button {
      margin-top: $spacer*2;
      height: $spacer*6;
    }
  }

  .SocialLoginButton.mdl-button {
    color: white;
    height: $spacer*5;
    width: 100%;

    &:nth-child(1) {
      background-color: $facebook-color;
    }

    &:nth-child(2) {
      float: right;
      background-color: $instagram-color;
    }

    .fa {
      font-size: 24px;
    }
  }
}

