@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/mixins';
@import '../../scss/variables';

.ui.message.Snackbar {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 90%;
  max-width: 640px;
  left: 50%;
  margin: 0;
  z-index: $snackbar-zindex;
  transition: all .28s ease-out;
  @include transform(translateX(-50%));

  &--visible {
    top: $snackbar-top;
    opacity: 1;
  }
}
