$gray: #f9f9f9;
$primary: #febc2d;
$secondary: #fc3b1d;

$black: #000;
$gray: #808080;
$white: #fff;

$green: #92b329;
$orange: #ff6600;
$red: #db2828;

$white96: rgba($white, .96);
$white30: rgba($white, .30);
$white12: rgba($white, .12);

$black87: rgba($black, .87);
$black54: rgba($black, .54);
$black26: rgba($black, .26);
$black12: rgba($black, .12);
$black06: rgba($black, .06);
$black03: rgba($black, .03);

$gray50:  lighten($gray, 45%);
$gray100: lighten($gray, 40%);
$gray300: lighten($gray, 30%);
$gray500: $gray;
$gray600: darken($gray, 10%);
$gray800: darken($gray, 30%);

$orange87: rgba($orange, .87);

$orange50: lighten($orange, 45%);
$orange100: lighten($orange, 40%);
$orange400: lighten($orange, 10%);
$orange500: $orange;
$orange600: darken($orange, 10%);
$orange800: darken($orange, 30%);

$amber500: #ffc107;
$deepOrange500: #ff5722;
$blueGrey500: #607d8b;
$lightBlue500: #03a9f4;

$red50: lighten($red, 45%);
$red100: lighten($red, 40%);

$transparent: rgba($white, 0);

$instagram-color: #fb3958;
$facebook-color: #3b5998;
