@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@mixin animation($animation) {
  -webkit-animation: $animation;
     -moz-animation: $animation;
          animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin gradient-background($direction, $from, $to) {
  background: -moz-linear-gradient($direction, $from, $to);
  background: -webkit-linear-gradient($direction, $from, $to);
  background: linear-gradient($direction, $from , $to);
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transform($transform) {
	   -moz-transform: $transform;
	     -o-transform: $transform;
	    -ms-transform: $transform;
	-webkit-transform: $transform;
          transform: $transform;
}

@mixin appearance($appearance) {
  appearance: $appearance;
  -moz-appearance: $appearance;
  -webkit-appearance: $appearance;
}

@mixin drag($drag) {
  user-drag: $drag;
  user-select: $drag;
  -moz-user-select: $drag;
  -webkit-user-drag: $drag;
  -webkit-user-select: $drag;
  -ms-user-select: $drag;
}

@mixin placeholder {
  ::-webkit-input-placeholder { @content }
  ::-moz-placeholder { @content }
  :-ms-input-placeholder { @content }
  :-moz-placeholder { @content }
}
