@mixin animation($animation) {
  -webkit-animation: $animation;
     -moz-animation: $animation;
          animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin gradient-background($from, $to) {
  background: -moz-linear-gradient(to right, $from, $to);
  background: -webkit-linear-gradient(to right, $from, $to);
  background: linear-gradient(to right, $from , $to);
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transform($transform) {
	   -moz-transform: $transform;
	     -o-transform: $transform;
	    -ms-transform: $transform;
	-webkit-transform: $transform;
          transform: $transform;
}


@mixin drag($drag) {
  user-drag: $drag;
  user-select: $drag;
  -moz-user-select: $drag;
  -webkit-user-drag: $drag;
  -webkit-user-select: $drag;
  -ms-user-select: $drag;
}
