@import './colors';
@import "~slick-carousel/slick/slick.css";

html, body #app {
  height: 100%;
  font-size: 16px !important;
}

body {
  height: 100%;
  margin: 0;
  line-height: normal !important;
}

* {
  min-width: 0;
  min-height: 0;
}

button.slick-arrow {
  display: none !important;
}

.icon.link {
  cursor: pointer !important;
}
