@import './colors';
@import 'node_modules/material-design-lite/src/material-design-lite.scss';

html, body #app {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: $black54;
}

* {
  min-width: 0;
  min-height: 0;
}

button.slick-arrow {
  display: none !important;
}

a:hover {
  color: rgb(246, 77, 21);
}

.icon.link {
  cursor: pointer !important;
}
