@import '../../scss/variables';

$marker-height: 34px;
$marker-width: 20px;

.Map {
  &-container,
  &-loading,
  &-element {
    height: $spacer*40;
    position: relative;
  }
}

.CenterMarker {
  position: absolute;
  background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  top: 50%;
  left: 50%;
  margin-left: $marker-width/-2;
  margin-top: -$marker-height;
  height: $marker-height;
  width: $marker-width;
}

.SearchBox {
  border: 0;
  height: $spacer*4;
  padding: 0 12px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  font-size: 14px;
  outline: none;
  text-overflow: ellipsis;
  margin-top: 10px;
  width: calc(100% - #{$spacer*21});
  max-width: $spacer*40;
}
