@import 'node_modules/include-media/dist/_include-media.scss';
@import '../scss/variables';

.DefaultLayout {
  main {
    padding-top: $topbar-height;
    min-height: 100vh;
  }

  &--topbarTransparent {
    main {
      padding-top: 0;
    }
  }
}

@include media("<tablet") {
  .DefaultLayout {
    main {
      padding-top: $topbar-height;
    }
  }
}
