@import 'node_modules/include-media/dist/_include-media.scss';
@import '../scss/variables';
@import '../scss/colors';

.DefaultLayout{
  .main {
    margin-top: $topbar-height;
    background: $gray50;
    transition: padding-left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
  }
}

@include media(">tablet") {
  .DefaultLayout {
    .main {
      padding-left: $spacer*8;

      &--compressed {
        padding-left: $spacer*32;
      }
    }
  }
}
