@import 'node_modules/include-media/dist/_include-media.scss';
@import '../scss/colors';
@import '../scss/variables';
@import '../scss/colors';

.DefaultLayout {
  background-color: $gray50;

  main {
    margin-top: $topbar-height;
  }

  &--topbarTransparent {
    main {
      margin-top: 0;
    }
  }
}

@include media(">tablet") {
  .DefaultLayout {
    .main {
      &--compressed {
        padding-left: $spacer*32;
      }
    }
  }
}
