@import '../../scss/variables';

$material-red: #f44336;

.MaterialError {
  color: $material-red;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  transition: all 450ms $bezier-curve 0ms;

  &--center {
    text-align: center;
  }
}
