@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';

.EventPhotos {
  padding-top: $spacer*2;

  .ui.header {
    margin: $spacer*2;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

    img.image {
      width: $spacer*16;
      height: $spacer*16;
      margin: $spacer;
      cursor: pointer;
      background-size: cover;
    }
  }
}


@include media(">tablet") {
  .EventPhotos {
    margin-top: $topbar-height;
  }
}

