@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.EventPage {
  margin-top: $topbar-height + $spacer*2;

  &-flyer {
    .ui.card {
      padding: $spacer/2;
      width: 100%;
      margin: 0 3%;
    }
  }

  &-details {
    &-header {
      padding: $spacer*2;
      border-left: 4px solid $orange;

      &-title {
        color: $orange;
      }

      &-place {
        font-size: 15px;
        text-transform: uppercase;
      }
    }

    &-info {
      padding: $spacer*2;
      color: $white;
      font-weight: 300;
      background-color: $orange;
      position: relative;

      &-item {
        margin: $spacer 0;
      }

      &:before {
        content: '';
        position: absolute;
        width: 300%;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: -1;
        background-color: $orange;
      }

      .Icon:before {
        width: $spacer*2;
        text-align: center;
        margin-right: $spacer;
        display: block;
      }
    }

    &-body {
      &-title {
        color: $orange;
        font-size: 18px;
        text-transform: uppercase;
      }

      &-content {
        margin-top: $spacer*2;
      }

      &-description {
        padding: $spacer*2 0;
        margin: $spacer*2;
        text-align: justify;
      }
    }
  }
}

@include media("<tablet") {
  .EventPage {
    margin-top: $spacer*2;

    &-flyer .ui.card {
      width: calc(100% - #{$spacer*2});
      margin-left: $spacer;
    }

    &-details-body-description {
      padding: $spacer;
    }
  }
}

