@import 'node_modules/include-media/dist/_include-media.scss';
@import '../../scss/variables';
@import '../../scss/colors';

.EventPage2 {
  margin-top: $spacer*2;
  position: relative;

  &--viewGallery .EventPage2 {
    &-flyer {
      margin-left: calc(50% + #{$spacer*2 - 2px});
    }

    &-gallery {
      height: auto;
      overflow-y: auto;
    }

    &-details {
      height: calc(100vh - #{$topbar-height});
      overflow: hidden;
    }
  }

  &--releaseFlyer .EventPage2 {
    &-flyer {
      position: absolute !important;
      bottom: 0;
    }
  }

  &-gallery {
    height: calc(100vh - #{$topbar-height});
    overflow-y: hidden;

    .small.images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-left: 16px;

      .image {
        height: $spacer*19;
        margin: 0;
        cursor: pointer;
        background-size: cover;
      }
    }
  }

  &-flyer {
    position: fixed !important;
    transition: margin-left .5s ease;
    height: calc(100vh - #{$topbar-height});

    &--right {
      margin-left: calc(50% + #{$spacer*2 - 2px});
    }

    &:after {
      content: '';
      background-color: #ff6600;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: .8;
    }

    &-bg.ui {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .ui.card {
      padding: $spacer/2;
      width: 60%;
      margin: $spacer*3 20%;
      z-index: 1;

      &:before {
        content: '';
        background-color: $orange;
        width: 100%;
        height: 100;
        top: 0;
        left: 0;
      }
    }

    &-trigger.ui {
      display: block;
      position: relative;
      z-index: 1;
      margin: $spacer*2 auto;
    }
  }

  &-details {
    min-height: calc(100vh - #{$topbar-height});

    &-header {
      padding: $spacer*2;
      border-left: 4px solid $orange;

      &-title {
        color: $orange;
      }

      &-place {
        font-size: 15px;
        text-transform: uppercase;
      }
    }

    &-info {
      padding: $spacer*2;
      color: $white;
      font-weight: 300;
      background-color: $orange;
      position: relative;

      &-item {
        margin: $spacer 0;
      }

      &:before {
        content: '';
        position: absolute;
        width: 300%;
        top: 0;
        left: -100%;
        height: 100%;
        z-index: -1;
        background-color: $orange;
      }

      .Icon:before {
        width: $spacer*2;
        text-align: center;
        margin-right: $spacer;
        display: block;
      }
    }

    &-body {
      &-title {
        color: $orange;
        font-size: 18px;
        text-transform: uppercase;
      }

      &-content {
        margin-top: $spacer*2;
      }

      &-description {
        padding: $spacer*2 0;
        margin: $spacer*2;
        text-align: justify;
      }
    }
  }
}

@include media("<tablet") {
  .EventPage2 {

    &-flyer {
      position: absolute !important;

      &-bg.ui,
      &:after {
        left: $spacer*2;
      }

      .ui.card {
        width: 100%;
        max-width: $spacer*60;
      }

      .ui.card,
      &-trigger.ui {
        margin-left: 50%;
        transform: translateX(calc(#{$spacer*2} - 50%));
      }
    }

    &-details-body-description {
      padding: $spacer;
    }

    &--releaseFlyer .EventPage2-flyer {
      bottom: auto;
    }

    &--viewGallery .EventPage2-flyer {
      margin-left: 100%;
    }
  }
}

@include media(">tablet") {
  .EventPage2 {
    margin-top: $topbar-height + $spacer*2;
  }
}
